<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product</title>
    <link rel="stylesheet" href="css/main.css"> 
    <link rel="stylesheet" href="css/product.css"> 
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a class="active" href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form class="product-form" action="/add-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="size">Size</label>
                <input type="number" placeholder="size in cm" name="size" id="size">
            </div>
            
            <button type="submit">add product</button>
        </form>
    </main>
</body>
</html>